<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="test">
  
  	<groups>
			<run>
				     <include name="FunctionalTest1" /> 
				      <include name="commonTest" /> 

			</run>
		</groups>
		<packages>
			<package name="com.sw.ui.Starwars.*" />
			
		</packages>
  </test> <!-- Test -->
</suite> <!-- Suite -->
